{
  "semi": true,
  "singleQuote": true,
  "printWidth": 200,
  "tabWidth": 2,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "ignore",
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "arrowParens": "always"
}
